# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.py.swp

#Output files
*.csv
*.png
*.coffea

#Note files not needed to be saved
Simple_CrossSec.txt
Full_CrossSecDict.txt

#Old plots
Studies_2b2tau/Old_Plots/

#Shell file
shell
