# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.py.swp

#Output files
*.csv
*.png

#Note files not needed to be saved
Simple_CrossSec.txt
Full_CrossSecDict.txt

#Shell file
shell
